@charset 'utf-8';

@use "./../mixin";
@use "./../variable";

.card {
	@include mixin.layout;
	border: 1px solid variable.$card-main-color;
	margin: 4rem 1rem;

	>* {
		@include mixin.widthFull;
	}

	&__title {
		margin-top: 0;
		padding: 0.5rem 1rem;
		color: white;
		background: linear-gradient(180deg, variable.$card-main-color 0%, variable.$card-sub-color 100%);
		font-family: 'M PLUS 1p', sans-serif;
		font-weight: 800;
		text-shadow: 0px 0px 6px variable.$card-shadow-color;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__titlePrepend {
		filter: drop-shadow(0px 0px 3px variable.$card-shadow-color);
		margin-right: 0.3em;
	}

	&__text {
		margin: 0.5rem 1rem;
	}
}