@charset 'utf-8';

@use "./../mixin";

.footer {
	@include mixin.headerFooterCommon;
	@include mixin.layout;

	>* {
		@include mixin.widthMain
	}

	address {
		font-style: normal;
	}

	a {
		color: white;
		padding: 0.25em;

		&:hover,
		&:active {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}