@charset 'utf-8';

@use "./../mixin";

.header {
	@include mixin.headerFooterCommon;
	@include mixin.layout;
>*{
	@include mixin.widthMain;
}
	&__title {
		font-family: 'M PLUS 1p', sans-serif;
		font-weight: 900;
		font-size: 2.5rem;
		line-height: 1.1;
		margin-bottom: 1rem;
	}
}