@charset "utf-8";

@use "./../mixin";

.l-shareBtnWrapper {
	@include mixin.widthMain;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.shareBtn {

	// ボタン
	@mixin btn {
		color: #fff;
		margin-right: 1rem;
		padding: 15px;
		font-size: 0.9em;
		text-decoration: none;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
	}

	// アイコン部分
	@mixin prepend ($ratio) {
		aspect-ratio: $ratio;
		max-width: none;
		margin-right: 30px
	}

	&--twitter {
		@include btn;
		background-color: #1DA1F2;
	}

	&--line {
		@include btn;
		background-color: #06c655;
	}

	&__prepend {
		&--twitter {
			@include prepend(4/1);
		}

		&--line {
			@include prepend(1/1);
		}
	}
}