@charset "utf-8";


.l-shareBtnWrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.shareBtn {
	@mixin btn {
		margin-right: 1rem;
		padding: 0.25em;
		color: white;
		text-decoration: none;
	}

	>iframe {
		@include btn;
		background-color: blue;
	}

	&--line {
		@include btn;
		background-color: green;
	}
}