@charset "utf-8";

@use "./../mixin";

.l-shareBtnWrapper {
	@include mixin.widthMain;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.shareBtn {
	// 変数
	// スペースの基準
	$space: 8px;
	$twitter-color: #1DA1F2;
	$line-color: #00b900;

	// mixin
	// ボタン
	@mixin btn {
		color: #fff;
		margin-right: 1rem;
		padding: $space;
		font-size: 0.8em;
		text-decoration: none;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
	}

	@mixin hover ($color) {
		background-color: lighten($color, 25%);
	}

	// アイコン部分
	@mixin prepend ($ratio) {
		aspect-ratio: $ratio;
		max-width: initial;
		margin-right: $space;
	}

	// スタイル
	&--twitter {
		@include btn;
		background-color: $twitter-color;

		&:hover,
		&active {
			@include hover($twitter-color);
		}
	}

	&--line {
		@include btn;
		background-color: $line-color;
		padding: 0 $space 0 $space/2;

		&:hover,
		&active {
			@include hover($line-color);
		}
	}

	&__prepend {
		&--twitter {
			@include prepend('5 / 4');
		}

		&--line {
			@include prepend('1 / 1');
			margin-right: $space;
		}
	}
}