@charset "utf-8";

@use "./../mixin";

.l-shareBtnWrapper {
	@include mixin.widthMain;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.shareBtn {
	@mixin btn {
		margin-right: 1rem;
		font-size: 3.5rem;
	}

	&--twitter {
		@include btn;
		color: #1DA1F2;
	}

	&--line {
		@include btn;
		color: #06c655;
	}
}