@charset 'utf-8';

@use "./variable";

.footer {
	background-color: variable.$accent-color;
	color: #FFFFFF;
	padding: 1em 0;

	>* {
		grid-column: main;
	}

	address {
		font-style: normal;
	}

	a {
		color: white;
	}

	&:hover,
	&:active {
		background-color: rgba(255, 255, 255, 0.25);
	}
}