@charset "utf-8";

// 幅を指定するmixin
@mixin layout {
	display: grid;
	grid-template-columns:
		[full-start] minmax(1rem, 1fr) [main-start] minmax(0, 40rem) [main-end] minmax(1rem, 1fr) [full-end];
}

@mixin widthMain {
	grid-column: main;
}

@mixin widthFull {
	grid-column: full;
}

// ヘッダ、フッタ共通設定
@mixin headerFooterCommon {
	background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
	color: #FFFFFF;
	text-shadow: 0 0 3px #055966;
	padding: 2rem 0;
}