@charset 'utf-8';

// CSSリセット
@use "./modern-css-reset";

// 共通設定
@use "./common";

// ブロック
@use "./block/header";
@use "./block/list";
@use "./block/card";
@use "./block/timeline";
@use "./block/socialPlugin";
@use "./block/footer";